
 {% load static %}

 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Welcome to the Library System</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <style>
         body {
             background-image: url('{% static 'images/lib.jpg' %}');
             background-size: cover;
             backdrop-filter: blur(5px);
             background-repeat: no-repeat;
         }
         .container {
             background-color: rgba(255, 255, 255, 0.8);
             padding: 20px;
             border-radius: 10px;
             margin-top: 100px;
         }
     </style>
 </head>
 <body>
 
 <div class="container">
     <div class="row">
         <div class="col-md-6 offset-md-3">
             <h1 class="text-center">Welcome to the Library System</h1>
             <p class="text-center">Please select your role:</p>
             <div class="row justify-content-center">
                 <div class="col-md-6">
                     <a href="{% url 'loginn' %}" class="btn btn-primary btn-block">Login as Admin</a>
                 </div>
                 {% comment %} <div class="col-md-6">
                     <a href="{% url 'student_login' %}" class="btn btn-primary btn-block">Login as Student</a>
                 </div> {% endcomment %}
             </div>
         </div>
     </div>
 </div>
 
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 </body>
 </html>
 